<div class="container">

  <div class="greeting">
    <%= image_tag 'logo.png', class: "greeting__image" %>
    <div class="greeting__message">
      <h2><%= current_user.user_name %>さんの</h2>
      <h2>ブックマークした本</h2>
    </div>
  </div>

   <div class="pagenagte-container">
    <div class="pagenate-header">
      <h5 class="mb-0">登録した日付順</h5>
      <h5 class="mb-0"><%= @books.length %> / <%= current_user.books.where(status: 1).length %>件</h5>
    </div>

    <%= react_component("molecules/bookmarkCards/BookmarkCards", {booksFromServer: @books, url: @url}) %>

    <%= will_paginate @books, previous_label: h("<"), next_label: h(">")   %>
  </div>

  <div class="bottom-placehodler"></div>

</div>
