<!DOCTYPE html>
<html>
  <head>
    <title>Library Passbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_pack_tag "application" %>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body>
    <%= yield %>
    <%= render "shared/navbar" if current_user %>
    <%= render "shared/flashes" %>
  </body>
</html>
